/*
   STATA smcl formating substitutes
*/
.st_txt {
	color: Black;
	font-weight: normal;
}

.st_inp {
	color: DarkViolet;
	font-weight: bold;
}

.st_res {
	color: Blue;
	font-weight: bold;
}

.st_err {
	color: Red;
	font-weight: bold;
}

.st_bf {
	font-weight: bold;
}

.st_it {
	font-style: italic;
}

input, textarea, button {
    /*
    -webkit-appearance: none; /*Safari/Chrome*/
    -moz-appearance: none; /*Firefox*/
    -ms-appearance: none; /*IE*/
    -o-appearance: none; /*Opera*/
    appearance: none;
    */
    
    -webkit-border-radius: 2px; 
    border-radius: 2px; 
}

input, textarea, form {
	font-size: 16pt;
  vertical-align: top;
}

input[type="button"]  {
    border: 1px solid #006;
    backgroundx: #90c0f0;
    width: 40px;
    height: 40px;
    margin: 9px;
}
      
body, html {
	overflow: hidden;
	height: 100%;
}

.row, .col {
	overflow: hidden;
	position: absolute;
}

.row {
	left: 0;
	right: 0;
}

.col {
	top: 0;
	bottom: 0;
}

.scroll-x {
	overflow-x: auto;
}

.scroll-y {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.header.row {
	bottom: 0;
	padding: 10px;
	height: 60px;
	vertical-align: center;
}


.fullside.col {
  right: 0px;
  left: 320px;
  padding: 10px;
  height: 100%;
}


.sbtop.col {
  left: 0px;
  padding: 10px;
  width: 300px;
  background-color: #eaffff;
}

.sbtop.row {
	top: 00px;
	left: 0px;
	bottom: 80px;
	padding: 10px;
	width: 300px;
	background-color: #eaffff;
}

.resdiv.row {
	top: 0px;
	bottom: 80px;
	left: 320px;
	right: 0px;
	padding: 10px;
	background-color: #eaffea;
}

.sidebaritem{
	margin: 1px;
	padding: 8px;
	border: 1px solid #000000;
}

.full {
	background-color: #ffffea;
}

.varitem {
	background-color: #ffffff;
}

#cmdeditor {
  overflow: hidden;
  position: absolute;
	top: 0px;
  bottom: 0px;
  left: 320px;
  right: 60px;
  padding: 0px;
  margin: 0px;
}

#cmdbuttons {
  overflow: hidden;
  position: absolute;
	top: 0px;
  bottom: 0px;
  right: 0px;
  width: 60px;
  
  vertical-align: bottom;
	padding: 0px;
  margin: 0px;
  text-align: right;
  background-color: #eaeaea;
}

#cmdcontent {
	height: 80vh;
	width: 98%;
  white-space: pre;
  word-wrap: normal;
  overflow: auto;
  border:1px solid #999999;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  font-size: 12pt;
}


input.grabtab {
	  position: absolute;
	  background: transparent;
    border: none;
    width: 1px;
    height: 1px;
    margin: 0;
    padding: 0;
    display: compact;
}
    

    
    